<section>

  <div class="">
    <h1>List Invoices</h1>
  </div>

  <!--  <form [formGroup]="filterInvoicesByClientsForm" (ngSubmit)="submit()">-->
  <!--    <div class="form-row">-->
  <!--      <div class="form-col">-->
  <!--        <select multiple name="clients" [formControlName]="clientsControl">-->
  <!--          <option [ngValue]="null" disabled>Select Clients</option>-->
  <!--          <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>-->
  <!--        </select>-->
  <!--      </div>-->
  <!--      <div class="form-col">-->
  <!--        <button type="submit">Go</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </form>-->

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Invoice ID</th>
      <th scope="col">Invoice Number</th>
      <th scope="col">Client Name</th>
      <th scope="col">Invoice Amount</th>
      <th scope="col">Posted at</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoices" [routerLink]="['/invoice/' + invoice.invoice_id + '/invoice_detail']" >
      <td>{{ invoice.invoice_id }}</td>
      <td>{{ invoice.invoice_number }}</td>
      <td>{{ invoice.client_name }}</td>
      <td>{{ invoice.invoice_amount }}</td>
      <td>{{ invoice.invoice_posted_at }}</td>
      <td>{{ invoice.invoice_status }}</td>
    </tr>
    </tbody>
  </table>
</section>
