<section>

  <div class="d-flex justify-content-between">
    <h4>List Invoices</h4>
  </div>

  <br>

  <button type="button" (click)="getInvoicesByClientId(invoice.id)" class="btn btn-danger">Go</button>

  <table class="table ">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let invoice of invoices">
      <td>{{ invoice.id }}</td>
      <td>{{ invoice.name }}</td>
      <td>{{ invoice.email }}</td>
      <td>{{ invoice.phone }}</td>
      <td>
        <a href="#" [routerLink]="['/invoice/', 'edit', invoice.id  ]" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </table>
</section>
